.auth-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 64px 16px;

  .auth-container-body {
    display: flex;
    flex-direction: column;

    .auth-title {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 22px;
      line-height: 28px;
      font-weight: 700;
      color: #2e3333;
      padding-bottom: 24px;
    }

    .auth-button {
      transition-property: box-shadow;
      transition-duration: 0.15s;
      transition-timing-function: ease-out;
      border-radius: 4px;
      height: 48px;
      width: 100%;
      font-size: 16px;
      font-weight: 700;
      font-family: "IBM Plex Sans", sans-serif;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      outline: none;
      cursor: pointer;
      margin-bottom: 16px;
    }

    .auth-facebook-button {
      background-color: #4c69ba;
      color: #fff;

      .auth-facebook-button-icon {
        width: 24px;
        height: 24px;
        fill: #fff;
        padding-right: 8px;
      }
    }

    .auth-google-button {
      border: 1px solid #a3afaf !important;
      color: #2e3333 !important;
      background-color: #fff;
      line-height: 22px;

      .auth-google-button-icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        padding-right: 16px;
        background: url(https://cwa.roocdn.com/_next/static/media/google.f4674e20.svg)
          50% no-repeat;
      }
    }

    .auth-sub-container {
      padding-top: 16px;
      padding-bottom: 16px;

      .auth-sub-text-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 20px;

        .auth-sub-text {
          color: #2e3333;
          font-size: 14px;
          line-height: 19px;
          font-weight: 400;
          font-family: "IBM Plex Sans", sans-serif;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          background-color: #fff;
          padding: 0 15px;
        }
      }

      .auth-sub-text-container:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 0;
        opacity: 0.24;
        border-bottom: 1px solid #8c9b9b;
      }
    }

    .auth-email-button {
      color: #fff;
      background: #00ccbc;

      .auth-email-button-icon {
        width: 18px;
        height: 18px;
        fill: #fff;
        padding-right: 8px;
      }
    }

    .auth-note-text-container {
      .auth-note-text {
        color: #585c5c;
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        font-family: "IBM Plex Sans", sans-serif;

        .auth-note-text-link {
          color: #00b8a9;
          text-decoration: underline;
        }
      }
    }
  }
}
